body {
  padding: 0;
  margin: 0;
  background-color:#05001f;
  background-image: url('starsbg.jpg');
	background-repeat: repeat;
	background-attachment:fixed;
	background-size:auto;
}

main {
  padding: 0;
  margin: 0;
  text-align: center;
  /*opacity: .9;*/
}
